* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #ffffff;
  color: #0f172a;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */

header {
  background: #0d47a1; /* Azul principal */
  padding: 20px 0;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-img {
  width: 60px;
}

.logo-text h1 {
  font-size: 22px;
  margin-bottom: 4px;
}

.logo-text span {
  font-size: 12px;
  color: #c8facc;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.btn-nav {
  background: #00c853; /* Verde */
  padding: 8px 15px;
  border-radius: 5px;
}

/* HERO */

.hero {
  background: linear-gradient(to right, #0d47a1, #00c853);
  color: white;
  padding: 100px 0;
  text-align: center;
}

.hero h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.btn-primary {
  background: white;
  color: #0d47a1;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}

/* SECTIONS */

.section {
  padding: 80px 0;
  text-align: center;
}

.section h2 {
  margin-bottom: 40px;
  font-size: 30px;
  color: #0d47a1;
}

.features {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #f5faff;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  border: 1px solid #e0f2f1;
}

.light-bg {
  background: #e8f5e9;
}

.services {
  list-style: none;
  font-size: 18px;
}

.services li {
  margin-bottom: 10px;
}

/* PRICING */

.pricing {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.plan {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  border: 2px solid #e3f2fd;
}

.plan .price {
  font-size: 22px;
  margin: 15px 0;
  color: #00c853;
  font-weight: bold;
}

.plan button {
  background: #0d47a1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.destaque {
  border: 2px solid #00c853;
  transform: scale(1.05);
}

/* CONTACT */

.contact-section {
  background: #0d47a1;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

form input, form textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

form button {
  background: #00c853;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* FOOTER */

footer {
  background: #002171;
  color: white;
  text-align: center;
  padding: 20px;
}